@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,500;1,700&family=Viaoda+Libre&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ffe6c9;
}

.welcomeDiv {
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* .welcomeDiv img {
    margin-bottom: 20px;
} */

.welcomeDiv h1 {
    font-family: 'Barlow', sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 900;
    font-style: normal;
    background-color: lemonchiffon;
    padding: 1.5rem;
    border-color: aqua;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    max-height: 100px;
}

.welcomeDiv p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    max-width: 70vw;
    font-weight: 500;
}

.welcomeDiv button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.welcomeDiv button:hover {
    background-color: #0056b3;
}

.logo {
    width: 100px;
    height: 100px;
}